.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.25rem;
  flex-flow: column;
}

.cards > ul > li {
  background: #fff;
  border-radius: .3125rem;
  box-shadow: 0 0 0 .0625rem rgba(31 34 38 / 15%), .0625rem .0625rem .1875rem 0 rgba(31 34 38 / 40%);
}

.cards .cards-card-body {
  padding: 25px 30px;
}

.cards h3, .cards h2 {
  color: #003d6d;
  line-height: 1.3;
  margin-bottom: 0.3em;
  font-size: 1.25rem;
  font-weight: 400;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards p {
  line-height: 1.5;
  color: #1f2226;
  margin: 0;
}

.cards a, .cards a:hover {
  margin: 0.4em 0 0;
  display: inline-block;
  text-decoration: underline;
  color: #046cb8;
}

.section.homepage-cards {
  position: relative;
  margin-top: -90px;
  padding-bottom: 1.25rem;
}

@media (width >= 768px) {
  .cards > ul {
    display: flex;
    gap: 20px;
    flex-flow: row nowrap;
  }
  
  .cards > ul > li {
    width: 33.3333%;
  }

  .cards h3, .cards h2 {
    font-size: 1.5625rem;
  }
}