main .section.custom-hero-container{
  padding: 0;
}

.custom-hero-container .custom-hero-wrapper {
  max-width: none;
  padding: 0 var(--content-padding-mobile);
  border-bottom: 1px solid rgba(47 48 51 / 40%);
}

.custom-hero {
  position: relative;
  padding: 75px 0 110px;
}

.custom-hero-image {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  left: calc(-1 * var(--content-padding-mobile));
  right: calc(-1 * var(--content-padding-mobile));
}

.custom-hero-image img {
  object-fit: cover;
  width: 85%;
  height: 100%;
  object-position: top left;
  position: absolute;
  right: 0;
}

.custom-hero > div:not(.custom-hero-image, .login-form) {
  max-width: var(--content-max-width);
  padding: 0;
  margin: auto;
  position: relative;
}

.custom-hero > div:not(.custom-hero-image, .login-form) > div:not(.login-form) {
  padding-right: 1.5625rem;
  box-sizing: border-box;
}

.custom-hero h1 {
  font-family: "Ameriprise Serif", "Times New Roman", serif;
  font-weight: 400;
  line-height: 1.125;
  color: #003d6d;
  font-size: 2rem;
  letter-spacing: normal;
  margin: 0;
}

.custom-hero p {
  margin: .625rem 0 0;
  color: #003f6d;
  font-size: 1rem;
  line-height: 1.5;
}

.custom-hero p.button-container {
  margin-top: 1.5625rem;
}

.custom-hero a.button:any-link {
  font-size: .875rem;
}

.custom-hero .login-form {
  position: absolute;
  right: 20px;
  top: -24px;
  padding: 0;
}

.custom-hero .login-form .default-content-wrapper {
  padding: 0 var(--content-padding);
}

.custom-hero table,
.custom-hero tbody,
.custom-hero tr,
.custom-hero td {
  display: block;
}

.custom-hero .custom-hero-content > div > p {
  display: none;
}

@media (width >= 768px) {
  .custom-hero-image img {
    width: 50%;
    height: 100%;
    object-position: top right;
  }

  .custom-hero-container .custom-hero-wrapper {
    padding: 0 var(--content-padding);
  }
  
  .custom-hero > div:not(.custom-hero-image, .login-form) > div:not(.login-form) {
    width: 58.8%;
  }

  .custom-hero h1 {
    font-size: 2.5625rem;
  }

  .custom-hero p {
    font-size: 1.125rem;
  }
}

@media (width >= 1024px) {
  .custom-hero {
    padding: 75px 0 140px;
  }

  .custom-hero-image {
    left: calc(-1 * var(--content-padding));
    right: calc(-1 * var(--content-padding));
  }

  .custom-hero > div:not(.custom-hero-image, .login-form) > div:not(.login-form) {
    width: 72%;
    display: flex;
    padding-right: 0;
    align-items: flex-end;
  }

  .custom-hero .login-form {
    display: block !important;
  }

  .custom-hero .custom-hero-content table {
    width: 45%;
    flex-basis: 45%;
    margin-right: 1.5625rem;
  }

  .custom-hero .custom-hero-content > div > p {
    width: 55%;
    flex-basis: 55%;
    margin: 0;
    display: block;
  }
}