/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  box-shadow: 1px 3px 5px 0 rgba(0 0 0 / 12%);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand' var(--nav-height-mobile);
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  padding: 0;
  height: auto;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height-mobile)
    'sections sections' auto
    'tools tools' 1fr;
  overflow-y: auto;
  height: 100vh;
}

@media (width >= 1024px) {
  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px;
    max-width: 1240px;
    gap: unset;
  }

  header nav[aria-expanded="true"] {
    height: auto;
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 64px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 18px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 14px 0 35px;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  position: relative;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 28px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 3px;
  border-radius: 0;
  background: #046cb8;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -7px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 7px;
}

header nav[aria-expanded="false"] .nav-hamburger-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #046cb8;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  color: #046cb8;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

header nav[aria-expanded="true"] .nav-hamburger-text {
  display: none;
}

@media (width >= 1024px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  height: 72px;
}

header nav .nav-brand .default-content-wrapper img {
  width: 150px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections, header nav[aria-expanded="true"] .nav-tools {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

.header-bottom .main-nav ul.nav-ul .nav-drop[aria-expanded="true"] > ul {
  display: block;
}

.toggle-button{
  border: none;
  background: none !important;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button::before {
  content: '';
  display: inline-block;
  right: 0;
  transform: rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid #046cb8;
  border-radius: 0 2px 0 0;
  border-width: 2px 2px 0 0;
}

.header-bottom .main-nav ul.nav-ul .nav-drop[aria-expanded="true"] > .toggle-button::before {
  transform: rotate(-45deg);
}

/* Mobile styles for navigation */
@media (width < 1024px) {
  .header nav .nav-hamburger{
    margin-left: .9375rem;
  }

  .header-top .utility-links .utility-column.utility-column-4{
    margin: 0;
    margin-right: .9375rem;
  }

  .header-bottom .main-nav ul.nav-ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid #f3f2f1;
  }

  .header-bottom .main-nav ul.nav-ul > li:first-child {
    display: none;
  }

  .header-bottom .main-nav ul li{
    border-bottom: 1px solid #f3f2f1;
  }

  .header-bottom .main-nav ul li:last-child{
    border: none;
  }

  .header-bottom .main-nav ul ul {
    border-bottom: solid 3px #f3f2f1;
  }

  .header-bottom .main-nav ul ul ul li{
    border: none;
  }

  .header-bottom .main-nav ul ul ul li a{
    padding: .5rem .9375rem .5rem 2rem;
  }
  
  .header-bottom .main-nav ul li a{
    line-height: 1.15rem;
    display: block;
    padding: .9375rem;
    font-size: .875rem;
    font-weight: normal;
    color: #046cb8;
  }

  .header-bottom .main-nav ul li[aria-expanded="true"] > a{
    background: rgba(47 48 51 / 5%);
  }
}


@media (width >= 1024px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
    width: 100%;
  }

  header nav .nav-sections ul > li {
    font-weight: 700;
  }

  header nav .nav-sections ul > li > ul {
    margin-top: 0;
  }

  header nav .nav-sections ul > li > ul > li {
    font-weight: 500;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop .nav-drop {
    position: relative;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop .nav-drop a::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: rotate(45deg) translateY(-50%);
    width: 4px;
    height: 4px;
    border: 2px solid #046cb8;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  .toggle-button{
    display: none;
  }

  header nav .nav-sections .nav-drop .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;
  background: #f5f5f5;
  height: 100%;
}

header nav .nav-tools .mobile-utility-columns {
  padding: .9375rem;
}

header nav .nav-tools .mobile-utility-columns > div{
  display: flex;
  align-items: center;
  padding-top: .9375rem;
  flex-flow: column;
  gap: 0;
}

header nav .nav-tools .mobile-utility-columns a {
  line-height: 1em;
  display: block;
  font-size: .875rem;
  font-weight: normal;
  color: #046cb8;
  margin-bottom: 1.5625rem
}

header nav .nav-tools .mobile-utility-columns > div > div:last-child{
  width: 100%;
}

header nav .nav-tools .mobile-utility-columns > div > div:last-child a {
  margin: 3.125rem 1.25rem 0;
  color: white;
  letter-spacing: .0313rem;
  padding: .5625rem .9375rem .5rem;
  background: #046cb8;
  border: .125rem solid transparent;
  border-radius: 1.25rem;
  border-width: 2px;
  font-size: 1rem;
  text-align: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section.header-top > div {
  max-width: none;
  padding: 0;
  margin: 0;
}

.header-top .utility-links > div {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.header-top .utility-links .utility-column {
  flex: 0 0 auto;
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}

.header-top .utility-links .utility-column-1, .header-top .utility-links .utility-column-2, .header-top .utility-links .utility-column-3 {
  display: none;
}

.header-top .utility-links .utility-column-1 {
  padding-left: 20px;
}

.header-top .utility-links .utility-column-2::after {
  content: "";
  display: block;
  width: 1px;
  background-color: #d4dbe8;
  height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-top .utility-links .utility-column-1 a,
.header-top .utility-links .utility-column-2 a {
  color: #046CB5;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
}

.header-top .utility-links .utility-column-3 a,
.header-top .utility-links .utility-column-4 a {
  font-size: .875rem;
  border: 0.125rem solid transparent;
  border-radius: 999px;
  border-width: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .031rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.15rem;
  text-transform: none;
  padding: .438rem .813rem .5rem;
  text-decoration: none;
}

.header-top .utility-links .utility-column-3 a {
  background-color: #046cb8;
  border-color: transparent;
  color: #fff;
}

.header-top .utility-links .utility-column-3 a:hover:not(:disabled) {
  background-color: #00284a;
}

.header-top .utility-links .utility-column-4 a {
  border-color: #046cb8;
  color: #046cb8;
  background-color: #fff;
}

.header-top .utility-links .utility-column-4 a:hover:not(:disabled) {
  background-color: rgba(4 108 184 / 10%);
  border-color: #046cb8;
  color: #046cb8;
}

.header-top .utility-column span.icon {
  height: 13px;
  width: 13px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header-top .utility-column span.icon img {
  display: block;
}


.header-bottom > div {
  max-width: none;
  padding: 0;
  margin: 0;
}

.header-bottom .columns-wrapper,
.header-bottom .main-nav {
  width: 100%;
  position: relative;
  z-index: 1;
}

.header-bottom .main-nav > div {
  width: 100%;
  gap: 0;
  justify-content: space-between;
}

.header-bottom .main-nav ul.nav-ul {
  gap: 40px;
}

.header-bottom .main-nav ul.nav-ul ul{
  display: none;
  margin: 0;
}

.header-bottom .main-nav ul.nav-ul li {
  position: relative;
}

.header-bottom .main-nav ul.nav-ul > li > ul {
  display: none;
  position: relative;
}

.header-bottom .main-nav .button-container {
  display: none;
}

.header-bottom .main-nav ul.nav-ul > li.nav-drop li.nav-drop ul a::after {
  display: none;
}

@media (width >= 1024px) {
  header nav .nav-tools {
    display: none !important;
  }
  
  header nav[aria-expanded="true"] .header-bottom.nav-sections {
    justify-content: space-between;
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
  }

  header nav[aria-expanded="true"] .header-bottom.nav-sections::after {
    content: "";
    position: absolute;
    display: block;
    width: 100vw;
    height: 100%;
    left: calc(-50vw + 50%);
    top: 0;
    background-color: #f5f5f5;
  }
  
  .header-bottom .main-nav ul.nav-ul > li[aria-expanded="true"] > ul,
  .header-bottom .main-nav ul.nav-ul > li.nav-drop:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 335px;
    top: 48px;
    margin-top: 0;
    padding: 0;
    background-color: #fff;;
    white-space: initial;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    box-shadow: 0 0 8px 0 rgba(0 0 0 / 12%);
  }

  .header-bottom .main-nav ul.nav-ul > li[aria-expanded="true"] > a,
  .header-bottom .main-nav ul.nav-ul > li.nav-drop:hover > a,
  .header-bottom .main-nav .button:hover {
    border-bottom: 3px solid rgba(0 40 74 / 50%);
    color: #00284a;
  }

  .header-bottom .main-nav ul.nav-ul > li.nav-drop > ul > li.nav-drop > ul {
    display: none;
    position: relative
  }

  .header-bottom .main-nav ul.nav-ul > li > a,
  .header-bottom .main-nav .button {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: .6225rem 0;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: #046cb8;
    text-decoration: none;
    box-sizing: border-box;
    height: 48px;
  }

  .header-bottom .main-nav ul.nav-ul > li.nav-drop li a {
    font-weight: 400;
    padding: 15px;
    display: block;
    color: #046cb8;
    line-height: normal;
  }

  .header-bottom .main-nav ul.nav-ul > li.nav-drop li a:hover {
    background-color: #f5f5f5;
    color: #000;
  }

  .header-bottom .main-nav ul.nav-ul > li:first-child > a {
    color: #00284a;
    border-bottom: 3px solid #00284a;
  }

  .header-bottom .main-nav ul.nav-ul > li.nav-drop li.nav-drop a {
    padding-right: 30px;
  }

  .header-bottom .main-nav ul.nav-ul > li {
    height: 48px;
  }

  .header-bottom .main-nav .button-container{
    display: block;
  }
  
  .header-top .utility-links .utility-column-1, .header-top .utility-links .utility-column-2, .header-top .utility-links .utility-column-3 {
    display: block;
  }

  .header-bottom .main-nav ul.nav-ul > li.nav-drop li.nav-drop:hover ul {
    top: 0;
    left: 100%;
    position: absolute;
    display: block;
  }

  .header-bottom .main-nav .button,
  .header-bottom .main-nav .button:focus {
    background: transparent;
    border-radius: 0;
    font-weight: 400;
    border-left: 0;
    border-right: 0;
    letter-spacing: normal;
    line-height: 1.6;
    color: #046cb8;
  }
}