.tabs .tabs-list {
  display: flex;
  gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid var(--dark-color);
  border-radius: 0;
  padding: 8px 16px;
  background-color: var(--light-color);
  color: initial;
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tabs .tabs-list button[aria-selected="true"] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tabs .tabs-list button[aria-selected="false"]:hover,
.tabs .tabs-list button[aria-selected="false"]:focus {
  background-color: var(--dark-color);
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 0 16px;
  border: 1px solid var(--dark-color);
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

/* retirement tabs */
.retirement-tabs {
  background-color: #f4f4f5;
}

.retirement-tabs .tabs-wrapper {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.retirement-tabs .tabs {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  border: 1px solid rgba(31 34 38 / 15%);
  border-radius: .3125rem;
  box-shadow: 0 0 0 .0625rem rgba(31 34 38 / 15%), .0625rem .0625rem .1875rem 0 rgba(31 34 38 / 40%);
}

.retirement-tabs .tabs .tabs-list {
  display: block;
  box-sizing: border-box;
  padding: 40px 7%;
}

.retirement-tabs .tabs .tabs-panel {
  border: 0;
  padding: 40px 8%;
  box-sizing: border-box;
  background: linear-gradient(#f5f5f5, #fcfcfc 1%, #fcfcfc 6%);
  text-align: center;
}

.retirement-tabs h3 {
  letter-spacing: .1em;
  line-height: 1.25;
  color: rgba(47 48 51 / 75%);
  font-kerning: normal;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 .9375rem;
}

.retirement-tabs h4 {
  font-family: "Ameriprise Serif", "Times New Roman", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.25;
  color: #003d6d;
  margin: 0 0 .9375rem;
}

.retirement-tabs .tabs .tabs-list button {
  border: 1px solid currentcolor;
  border: 0.0625rem solid currentcolor;
  border-radius: 50%;
  color: #046cb8;
  height: 10vw;
  max-height: 100px;
  max-height: 6.25rem;
  max-width: 100px;
  max-width: 6.25rem;
  min-height: 80px;
  min-height: 5rem;
  min-width: 80px;
  min-width: 5rem;
  padding: 0;
  vertical-align: middle;
  width: 10vw;
  text-align: center;
  letter-spacing: .0313rem;
  font-weight: normal;
  box-sizing: border-box;
  background-color: #fff;
  font-size: .875rem;
}

.retirement-tabs .tabs .tabs-list button:hover:not(:disabled) {
  background-color: #046cb8;
  color: #fff;
}

.retirement-tabs .tabs .tabs-list button:focus:not(:disabled) {
  outline: 0.1875rem solid #046cb8;
  outline-offset: 0.125rem;
  background-color: #046cb8;
  color: #fff;
}

.retirement-tabs .tabs .tabs-list button:not(:last-child) {
  margin-right: 10px;
}

.retirement-tabs .tabs-panel h2 {
  font-family: "Ameriprise Serif", "Times New Roman", serif;
  font-size: 7.438rem;
  font-style: italic;
  color: #462c67;
  margin: 0 0 .9375rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
}

.retirement-tabs .tabs-panel p {
  font-size: 1rem;
  line-height: 1;
  margin: 0 0 1.5625rem;
  color: #1f2226;
}

.retirement-tabs .tabs-panel .button-container{
  margin-bottom: 0;
}

@media (width >= 768px) {
  .retirement-tabs .tabs {
    flex-flow: row nowrap;
  }
  
  .retirement-tabs .tabs .tabs-list {
    width: 50%;
  }

  .retirement-tabs .tabs .tabs-panel {
    width: 50%;
    background: linear-gradient(90deg,#f5f5f5,#fcfcfc 1%,#fcfcfc 6%);
  }
}

@media (width >= 1024px) {
  .retirement-tabs .tabs .tabs-list button {
    font-size: 1rem;
  }
}

/* insights tabs */
main .insights-tabs {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-color: #f4f4f5;
}

.insights-tabs h3 {
  color: #003d6d;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 .3em;
  padding-top: 15px;
  font-size: 1.25rem;
}

.insights-tabs .default-content-wrapper h3 {
  margin: 1.875rem 0 1.25rem;
  text-align: center;
  padding-top: 0;
  font-size: 1.25rem;
  line-height: 1;
}

.insights-tabs #tabpanel-insights h3 {
  color: #0d5fa0;
  font-family: "Ameriprise Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  padding-top: 0;
  line-height: 1.2;
  margin: 15px 0 5px;
}

.insights-tabs #tabpanel-insights p {
  line-height: 1.4286;
  color: #1f2226;
}

.insights-tabs .tabs .tabs-list {
  display: none;
  justify-content: center;
  border-bottom: .0625rem solid rgba(31 34 38 / 40%);
  width: fit-content;
  margin: 0 auto;
  gap: 56px;
  overflow: visible;
}

.insights-tabs .tabs .tabs-panel[aria-hidden="true"] {
  display: block;
}

.insights-tabs .tabs .tabs-list button {
  border: 0;
  background: none;
  padding: .625rem 0;
  font-weight: 400;
  color: #003d6d;
  position: relative;
}

.insights-tabs .tabs .tabs-list button::after {
  width: 0;
  background: #0f6ba2;
  content: "";
  color: #0f6ba2;
  float: right;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: -2px;
  transition: width .3s,left .3s;
}

.insights-tabs .tabs .tabs-list button[aria-selected="false"]:hover,
.insights-tabs .tabs .tabs-list button[aria-selected="false"]:focus {
  background: none;
}

.insights-tabs .tabs .tabs-list button[aria-selected="true"] {
  color: #1274bb;
}

.insights-tabs .tabs .tabs-list button[aria-selected="true"]::after {
  width: 100%;
  left: 0;
}

.insights-tabs .tabs .tabs-panel {
  margin: 0;
  border: none;
  padding: 1.25rem .9375rem;
}

.insights-tabs .tabs .tabs-panel a.button:any-link{
  width: 100%;
  margin-top: 1.875rem;
  font-size: .875rem;
}

.insights-tabs .tabs .tabs-panel::after {
  content: "";
  clear: both;
  display: table;
}

.insights-tabs .embed-wrapper {
  width: 100%;
}

.insights-tabs .embed {
  margin: 0;
}

.insights-tabs #tabpanel-insights .default-content-wrapper {
  clear: both;
  text-align: center;
}

.insights-tabs #tabpanel-insights .default-content-wrapper p {
  font-size: 1.125rem;
  margin: 0;
  line-height: 1.25;
  font-weight: bold;
}

.insights-tabs .tab-picture {
  display: none;
}

@media (width >= 768px) {
  .insights-tabs .tabs .tabs-list{
    display: flex;
  }

  .insights-tabs .tabs .tabs-panel[aria-hidden="true"] {
    display: none;
  }

  .insights-tabs h3 {
    font-size: 1.5625rem;
  }

  .insights-tabs .default-content-wrapper h3 {
    font-size: 1.5625rem;
  }

  .insights-tabs .embed-wrapper {
    width: calc(50% - 1.25rem);
    max-width: 560px;
    padding: 0 0 1.25rem;
  }

  .insights-tabs .embed {
    max-width: 560px;
  }
  
  .insights-tabs .tabs-panel#tabpanel-insights[aria-hidden="false"] {
    display: flex;
    gap: 0 2.5rem;
    flex-flow: row wrap;
  }

  .insights-tabs .tabs-panel#tabpanel-insights > div:not(.default-content-wrapper) {
    width: calc(50% - 1.25rem);
  }
  
  .insights-tabs .tabs #tabpanel-online-access.tabs-panel > div,
  .insights-tabs .tabs #tabpanel-security.tabs-panel > div {
    padding-left: 8.3333%;
  }

  .insights-tabs #tabpanel-insights .default-content-wrapper p {
    font-size: 1.25rem;
  }

  .insights-tabs .tab-picture {
    display: block;
    margin: 0;
    width: 41.6667%;
    float: right;
    padding-left: 64px;
  }

  .insights-tabs .tabs .tabs-panel a.button:any-link{
    width: auto;
    margin-top: 0;
    font-size: 1rem;
  }
}