footer {
  font-size: var(--body-font-size-xs);
}

footer .section {
  padding-left: var(--content-padding-mobile);
  padding-right: var(--content-padding-mobile);
}

footer .footer-top {
  background-color: var(--primary-dark-blue);
  color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

footer .footer p {
  margin: 0;
}

.footer img {
  width: auto;
}

.footer-top .columns > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px
}

/* .footer-top .columns > div > div {
  flex: none;
  display: flex;
  gap: 82px;
}
 */

.footer-top .columns > div > div:last-child {
  display: flex;
  gap: 50px;
}

.footer-top .columns-img-col {
  display: none;
}

.footer-top .button-container {
  width: 100%;
}

.footer-top a.button {
  display: block;
  padding: .625rem .875rem;
  font-size: .875rem;
  color: #046cb8;
  background-color: #fff;
  font-weight: normal;
  border: .125rem solid transparent;
  line-height: normal;;
}

.footer-top a.button:hover {
  background-color: #f5f5f5;
  border-color: transparent;
  color: #00284a;
}

.footer-top a.button:focus {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #046cb8;
  outline: 0.188rem solid #fff !important;
  outline-offset: 0.125rem 
}

.footer-top .icon {
  width: 32px;
  height: 32px;
}

.footer-top a:not(.button) {
  display: block;
  height: 32px;
}

/* Footer Middle */
.footer-middle * {
  margin: 0;
}

.footer-middle {
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-middle .columns > div {
  align-items: flex-start;
}

.footer-middle ul {
  margin: 0;
  padding: 0;
}

.footer-middle li {
  list-style: none;
  margin-bottom: 30px;
  line-height: normal;
}

.footer-middle li a {
  color: #000;
  font-weight: bold;
}

.footer-middle #customer-service {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(31 34 38 / 15%);
}

.footer-middle p {
  line-height: 1.25;
  color: rgba(31 34 38 / 75%);
}

.footer-middle p a {
  text-decoration: underline;
}

/* Footer Bottom */
.footer-bottom {
  background: #f5f5f5;
  padding-bottom: 15px;
}

.footer-bottom ul {
  margin: 0;
  display: flex;
  flex-flow: column;
  padding: 1.25rem 0;
}

.footer-bottom li {
  list-style: none;
  margin: .625rem 0;
  line-height: normal;
}

.footer-bottom li:first-child {
  border-left: 0;
}

.footer-bottom li a {
  color: #1f2226;
}

.footer-bottom p {
  color: #1f2226;
  line-height: normal;
  font-size: .875rem;
  padding-bottom: .9375rem;
}

@media (width >= 768px) {
  footer .section {
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
  }

  .footer-top .columns-img-col {
    display: block;
  }  

  .footer-top .button-container {
    flex-grow: 0;
    padding-right: 80px;
  }

  .footer-top .columns > div > div:last-child {
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    flex-grow: 0;
  }

  .footer-middle {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

@media (width >= 1024px) {
  .footer-bottom ul {
    margin: 0 -10px;
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .footer-bottom li {
    list-style: none;
    padding: 0 10px;
    margin: 10px 0;
    line-height: normal;
    border-left: 1px solid #8f9092;
    align-self: stretch;
    align-items: center;
    display: flex;
  }
}